:root{
    --divDisplay:none
}

.fondoDia{
    background-image: url('../Img/fondo.jpg');
}

.fondoNoche{
    background-image: url('../Img/fondonoite.jpg');
}

body{
    font-family: 'Petit Formal Script', cursive;
    height: 100vh;
    width: 100vw;
    margin: 0%;
    background-repeat: no-repeat;
    background-size: cover;
}
.main{
    display: flex;
    flex-direction: column;
    height: 90vh;
    width: 90vw;
}

.level_boss .back{
    background-color: transparent !important;
}
.level_boss .text p{
    background-color: transparent !important;
}

.map{
    display: flex;
    margin: 18% 0 0 20%;
    animation: fadeInAnimation 4s;
}

.mapHidden2{
    display: none;
}

.map__2{
    display: flex;
    margin: 16.5% 0 0 20%;
    animation: fadeInAnimation 4s;
}
.path{
    margin-top: 15px;
    height: 5px;
    width: 200px;
    background-color: black;
}
.level, .level_boss{
    display: flex;
    flex-direction: column;
    height: 30px;
    width: 30px;
    border-radius: 60%;
    background-color: rgb(221, 97, 97);
    border: 3px solid black;
}


.text{
    padding: 10px;
    margin-top: -211px;
    margin-left: -400%;
    display: none;
    width: 250px;
    font-size: 12.5px;
    font-weight: 600;
    background-color: transparent !important;
}

.txt{
    position: relative;
    width: 200px;
    height: 200px;
    overflow: hidden;
    background-color: transparent !important;
    background-size: 200px !important;
    background-image: url('../Img/fondo texto.png') !important;
    background-size: cover;
    text-align:start;
}

.decision__buttons{
    margin-top: -10px;
    background-color: transparent !important;
}

span{
    background-color: transparent !important;
}

.spanAppear{
    animation: fadeInAnimation 3.5s forwards;
}

.txt .back img {
    background-size: cover;
}

.back p{
    padding: 10px 18px;
    background-color: transparent !important;
}

.text__decision{
    margin-top: -212px;
}



.level:hover .text, .level_boss:hover .text{
    display: flex;
    flex-direction: column;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

.btn{
    opacity: 0;
    margin: 0 5%;
    width: 90%;
    margin-top: 3px;
    border: none;
    border-radius: 1.2em;
    background-color: transparent !important;
}

.finaltxt{
    position: relative;
    width: 220px;
    height: 220px;
    overflow: hidden;
    background-color: transparent !important;
    background-size: 200px !important;
    background-image: url('../Img/fondo texto.png') !important;
    background-size: cover !important;
}

.btn__yes{
    font-family: 'Patrick Hand', cursive;
    font-size: 20px;
}

.btn__no{
    font-family:'Nothing You Could Do', cursive;
    font-size: 16px;
    font-weight: 800;
}

.btn__end{
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 20px;
    font-weight: 500;
    margin: -25px 0 0 20px;
    width: 80%;
}
.btn__end:hover{
    background-color: #4caf9ec7 !important;
}

.btn__yes:hover{
    background-color: #4CAF50 !important;
}

.btn__no:hover{
    background-color: #F44336 !important;
}



.newtxt{
    position: relative;
    width: 200px;
    height: 200px;
    overflow: hidden;
    background-color: transparent !important;
    background-image: url('../Img/fondotexto2.png') !important;
    background-size: cover
}


/* @media screen and (min-width: 360px) and (max-width: 1100px) {
    .map{
        display: flex;
        margin: 200px 0 0 15%;
        animation: fadeInAnimation 4s;
    }
    .text{
        padding: 10px;
        margin-top: -210px;
        margin-left: -40px;
        display: none;
        width: 150px;
        font-size: 12.5px;
        font-weight: 600;
    }
    .text__decision{
        width: 165px;
        margin-left: -90px;
    }
    .path{
        margin-top: 15px;
        height: 5px;
        width: 40px;
        background-color: black;
    }
} */
